@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body, main {
    width: 100%;
    height: 100%;
}

html {
    border: none;
    background-color: var(--white);
    height: auto;
    align-items: center;
    justify-items: center;
  
    --title: #444;
    --input: #f0f0f0;
    --input-f: #acacac;
    --text-input: #aaa;
    --input-f-i: #333;
    --nav: #fff;
    --background: #fff;
    --bg: #69443C;
    --bg-box: #ddc4a1;
    --color-button: #fcfcfc;
    --color-text: #333333;
    --white: #fff;
    --black: #000;
    --brown: #8b645b;
    --color-text-container: #fff;
}

body,
input {
    font-family: "Poppins", sans-serif;
}

#section0 {
    background: url(../midia/livro.png) center / cover no-repeat;
    width: 100%;
    background-size: cover;
    color: #2c1d1a;
    font-family: "Source Serif 4", sans-serif;
}

#section1{
    padding-left: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 15px;
}

.brown-text {
    color: #69443C;
    text-transform: lowercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  
.active {
    color: #370707;
  }
.bg-nav {
    background-color: #fff;
    color: #69443C;
    text-transform: lowercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
.nav-content {
    padding: 3px 3px 3px 3px;
  }

img{
    height: 50%;
    width: 50%;
    border-radius: 12px;
}
a {
    text-decoration: none;
    color: #8b645b;
}
a:hover {
    color: #69443C;
}
.btn{
    background-color: var(--brown);
}
.grid {

}
.waves-effect.waves-brown {
    background-color: #ffffff;
  }
 
#explore{
    background-color: var(--color-button);
    color: var(--bg);
}

#section2{
    background: url(../midia/bg.png)center / cover no-repeat;
    width: 100%;
    background-size: cover;
    color: #2c1d1a;
    margin-top: 3%;
}

#tudo{
    font-size: 45px;
}

#nao{
    font-size: 25px;
    padding-bottom: 5%;
}

#inicio{
    background-color: var(--bg);
}

